* {
    font-family: Arial, Helvetica, sans-serif;
}

#urlConverter {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#urlConverter input, #urlConverter button {
    margin: 10px 0;
}
#urlInput {
    width: 700px;
}

#convertedUrl {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
